@import url(https://allfont.net/allfont.css?fonts=alien-encounters);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0 0 55px 0;
    background-color: black;
}

header {
    margin: 20px;
}

header h1 {
    color: red;
    font-family: 'Press Start 2P', cursive;
}

main {
    margin: 20px;
}

main h1 {
    color: white;
    font-family: 'Alien Encounters', arial;
}

main p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

/*
main img {
    width: 50%;
    float: left;
    margin-right: 20px;
    padding-bottom: 20px;
}
*/
main img {
    width: 100%;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.imgimg {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imgimg img {
    width: 100%;
    margin-bottom: 20px;
}


#vivi {
    width: 100%;
    align-items: center;


}



.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #c02121;
}

.nav__icon {
    font-size: 18px;
}

@media (min-width: 480px) {
    .imgimg img {
        width: 48%;
    }

    main img {
        width: 50%;
        float: left;
        margin-right: 20px;
        padding-bottom: 40px;
    }

}